{% extends "header.html" %}

{% block body %}

<div class="container" style="margin-top: 3%;"> 
    <div class="container-fluid">
    
    <h1 id="wh">404- Page not found</h1>

    <h3 id="wh">Looks like we took a wrong turn there. Maybe go back and try something else?</h3>
        <br/>
        <br/>
        <br/>
    <a href="javascript:history.go(-1)"><button type="button" class="btn btn-outline-danger btn-lg">
        Take me back!
        </button></a>
    
</div>


{% endblock %}