{% extends "header.html" %}

{% block body %}

<div class="container" style="margin-top: 3%;"> 
    
    <h1>405 - Method not allowed!</h1>

    <p>I don't know about that one, chief.</p>

    <a href="javascript:history.go(-1)"><button type="button" class="btn btn-outline-danger btn-lg">
        i'm gonna head back bro
        </button></a>
    
     <img src="{{ url_for('static', filename='images/yeah.png') }}" class="fixed-bottom" style="height:400px; width:200px;">
    
    
</div>


{% endblock %}