{% extends "header.html" %}

{% block body %}

<div class="container" style="margin-top: 3%;"> 
    
    <h1>500- Internal Server Error</h1>

    <p>Something broke, we're gonna have to take this one back to the lab, boys </p>
    <p><code>{{error}}</code></p>

    <a href="javascript:history.go(-1)"><button type="button" class="btn btn-outline-danger btn-lg">
        i'm gonna head back bro
        </button></a>
    
     <img src="{{ url_for('static', filename='images/dancecat.gif') }}" class="fixed-bottom" style="float:right;">
    
    
</div>


{% endblock %}