 <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

      
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
      
    <title>(´∇｀)</title>
      
    <!-- Modal JS Request **LAST IN HEAD (FOR NOW)**-->
      
    <script>
      $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
      });
    </script>  
      
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136595312-1">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-136595312-1');
      </script>
      
    <!-- Custom CSS -->
      <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">  
      
    <!-- Google Material Icons -->   
      
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  </head>
  <body>
      
      <!-- Slap a Navbar on it!! -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="{{ url_for('static', filename='images/mainlogo.png') }}" width="40" height="40" class="d-inline-block align-top" alt="Main logo for DIGIT 400">
  </a>
<a class="navbar-brand" href="/">
    DIGIT 400 
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav bg-dark">
      <li class="nav-item active">
        <a class="nav-link" href="/"><i class="material-icons">home</i>Home <span class="sr-only">(current)</span></a>
      </li>
        {% if session.logged_in %}
        
      <li class="nav-item bg-dark">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
        
        {% else %}
        
      <li class="nav-item bg-dark">
        <a class="nav-link" href="/login/" data-toggle="modal" data-target="#exampleModalCenter">
            <i class="material-icons">account_circle</i>Login</a>
      </li>
        {% endif %}
        
        {% if session.logged_in %}
      <li class="nav-item bg-dark">
        <a class="nav-link" href="/logout/">Logout</a>
      </li>
        {% endif %}
        
    </ul>
  </div>
</nav>
<!-- END NAVBAR -->
      
<!-- FLASHES GO HERE -->

<div class="container-fluid" style="width:75%;margin-top:3%;">
    
    {% with messages = get_flashed_messages() %}
    
        {% if messages %}
    
            {% for message in messages %}
                
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
    
            {% endfor %}
    
        {% endif %}
    
    {% endwith %}

</div>
      
      
<!-- !!END FLASHES!! -->

<!-- content goes here -->
      
      <div class="container-fluid" style="min-height: 100%">
          
          {% block body %}
          
          {% endblock %}
          
      </div>

<!-- END TEMPLATE CONTENT --> 
      
<!-- you can put a footer here... -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = $( 'input.username' ).val()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
        }
      })
    </script>
      
  </body>
</html>