{% extends "header.html" %}

{% block body %}
<div class="container">

    <div class="container-fluid" style="position: relative; z-index: 1">
    <h1 style="color: #ffffff;">Dashboard</h1>
    </div>
    <br/>
    <!-- Tabbed Pills -->
    <ul class="nav nav-tabs" id="myTab" role="tablist" style="position: relative; z-index: 1">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home <i class="inline-icon2 material-icons md-dark" style="margin-top: 2px">home</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile <i class="inline-icon2 material-icons md-dark" style="margin-top: 2px">account_circle</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact <i class="inline-icon2 material-icons md-dark" style="margin-top: 2px">message</i></a>
          </li>
        <li class="nav-item">
            <a class="nav-link" role="tab" data-toggle="tab" href="#message" role="tab" aria-controls="message" aria-selected="false">Messaging <i class="inline-icon2 material-icons md-dark" style="margin-top: 2px">message</i></a>
          </li>
    </ul>
    
<div class="container-fluid">
    <br/>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="card-deck">
                  
              {% for i in APP_CONTENT["Home"] %}
              

              <div class="card" style="width: 18rem;">
              <img src="/static/images/{{i[3]}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #696b6e">{{ i[0] }}</h5>
                <p class="card-text">{{ i[2] }}</p>
                <a href="{{i[1]}}" class="btn btn-primary">{{i[0]}}</a>
              </div>
            </div>
              
              {% endfor %}
                  
              </div>
              
                  
            </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

              <div class="card-deck">
                  
              {% for i in APP_CONTENT["Profile"] %}
              
 
              <div class="card" style="width: 18rem;">
              <img src="/static/images/{{i[3]}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #696b6e">{{ i[0] }}</h5>
                <p class="card-text">{{ i[2] }}</p>
                <a href="{{i[1]}}" class="btn btn-primary">{{i[0]}}</a>
              </div>
            </div>
              
              {% endfor %}
                  
              </div>

            </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            
              <div class="card-deck">
                  {% for i in APP_CONTENT["Contact"] %}
              
          
              <div class="card" style="width: 18rem;">
              <img src="/static/images/{{i[3]}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" style="color: #696b6e">{{ i[0] }}</h5>
                <p class="card-text">{{ i[2] }}</p>
                <a href="{{i[1]}}" class="btn btn-primary">{{i[0]}}</a>
              </div>
            </div>
              
              {% endfor %}  
                  
              </div>
              
            </div>
            
            <div class="tab-pane fade" id="message" role="tabpanel" aria-labelledby="message-tab">
                <h1>Gideon</h1>
                <img src="{{ url_for('static', filename='images/gideon.png') }}" >
            </div>
              
            </div>
        </div>

{% endblock %}
