<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/wavicon.ico') }}">
    
      
    <title>Lion's Pride</title>
      
    <!-- Modal JS Request **LAST IN HEAD (FOR NOW)**-->
      
      <script>
      $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
      });
      </script>               

      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136595312-1">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-136595312-1');
    </script>
    
    <!-- Custom CSS -->
      <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
      
      
      <!-- Google Material Icons -->
      
      <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
      
  </head>
  <body>
      
      <div id="bg">
  <img src="{{ url_for('static', filename='images/pride.jpg') }}" alt="" id="bg-img">
    </div>

      
      
      <!-- Slap a Navbar on it!! -->
<div class="container-fluid">
<nav class="navbar navbar-dark navbar-brand">
      <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='images/lionlogo.png') }}" width="50" height="50" class="d-inline-block align-top" alt="Main logo for Lion's Pride">
            </a>
          <a class="navbar-brand" href="/" id="brand-text"><h1>Lion's Pride</h1></a>
                <div class="container">
				<ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">
                            Home 
                            <span class="sr-only">(current)</span>
                            <i class="inline-icon material-icons md-dark" style="margin-top: 2px">home</i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about" data-toggle="modal" data-target="#aboutModal">
                            About
                            <i class="inline-icon material-icons md-dark" style="margin-top: 2px">favorite</i>
                        </a>
                    </li>
                        {% if session.logged_in %}
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard
                        <i class="inline-icon material-icons md-dark" style="margin-top: 2px">dashboard</i>
                        </a>
                    </li>
                        {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalCenter">
                            Login
                        <i class="inline-icon material-icons md-dark" style="margin-top: 2px">account_circle</i>
                        </a>
                    </li>
        {% endif %}
         {% if session.logged_in %}
      <li class="nav-item">
        <a class="nav-link" href="/logout/">Logout <i class="inline-icon material-icons md-dark" style="margin-top: 2px">account_circle</i></a>
      </li>
        {% endif %}
    </ul>
    </div>
</div>
</nav>

<!-- END NAVBAR -->
      
<!--MODAL STUFF -->

<!-- Modal -->

<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">About this Site</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>
          This website was made to support and provide a space for Penn State's LGBTQA+ students.
          </h5>
          <p>
          Here you can browse this demo and check out the dashboard, profile, forums, and messaging pages.
          </p>
          <h5>Wow, check it out. Here's more stuff.</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eleifend lorem orci, id pellentesque ipsum cursus a. Curabitur at urna massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam viverra quis mi vitae pellentesque. Etiam diam erat, rhoncus vel sem sed, lobortis pulvinar ipsum. Aenean id ligula ullamcorper, pellentesque eros in, malesuada erat. Ut quis dapibus velit. Sed eu neque eget ipsum viverra interdum. Quisque molestie ligula enim, eu sagittis mi blandit sit amet. In ex urna, ullamcorper et erat quis, luctus sollicitudin erat. Nam tincidunt pellentesque pretium. Quisque tempus eu mi eleifend elementum. Ut nec odio id nisi maximus lobortis a sit amet ex. Nulla vestibulum odio quis urna auctor, venenatis malesuada neque suscipit. Nunc bibendum, lectus sit amet fermentum imperdiet, lorem justo fermentum massa, et vulputate eros arcu elementum dolor. </p>
            </div>
          <hr/>
      </div>
    </div>
  </div>
</div>
    
    
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Hello!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You can log in here! 
          
              <div class="container">
                    <br>
                    <h4>Login</h4>
                    <br>
                    <form action="#" method="post">
                        <input type="text" class="form-control" placeholder="Username" name="username" value="{{request.form.username}}">
                        &nbsp;
                        <input type="password" class="form-control" placeholder="password" name="password" value="{{request.form.password}}">
                        &nbsp;
                        <br/>
                        <input class="btn btn-danger" type="submit" value="login">
                        &nbsp;
                    </form>
                    <br/>
                    <p><code>{{ error }}</code></p>
            </div>
          <hr/>
          <p>Hey, you should register if you don't have an account. You can register <a href="/register/" style="text-decoration: none;">here!</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Go back</button>
        <button type="button" class="btn btn-primary" href="/login/">Login</button>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL -->


    <!-- Optional JavaScript -->
      <script>
          
          const el = document.querySelector("#module");

            el.addEventListener("mousemove", (e) => {
              el.style.backgroundPositionX = -e.offsetX + "px";
              el.style.backgroundPositionY = -e.offsetY + "px";
            });
          
      </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>