{% extends "header.html" %}

{% block body %}

<div class="container-fluid">

    <h2 style="text-align: center">!!CAT TIME!!</h2>
    
    <div class="yay">
    <img src="{{ url_for('static', filename='images/kitty.png') }}"/>
    </div>
    
    <h2 style="text-align: center">!!CAT TIME!!</h2>
    
    <div class="container">
    
        <h1> Basic variable output </h1>
        <p>{{output}}</p>
        
        <hr>
        
        <h1> Basic for loop </h1>
        
        {% for item in output %}
        
        <p>{{item}}</p>
        
        {% endfor %}
        
        <hr>
        
        <h1> If statement with |int</h1>
        
        {% if output[3]|int > 10 %}
            <p>42 is greater than 10.</p>
        {% endif %}
        
        <hr>
        
        <h1>.replace() method</h1>
        
        {{output[0]|replace('good','great') }}
        
        <hr>
        
        <h1>Loop thru a string with .split and make a list</h1>
        
        <ul>
        {% for lang in output[1].split(',') %}
            <li>{{lang}}</li>
        {% endfor %}
        </ul>
            
        <hr>
        
        <h1>Render html with |safe</h1>
        
        {{output[2]|safe}}
        
        <hr>
        
        <h1>The Raw Operator</h1>
        
        {% raw %}
        
        <pre>
        <code>
        {% for i in items %}
            {{i}}
        {% endfor %}
        </code>
        </pre>
        
        {% endraw %}
        
            
    </div>
    
</div>

{% endblock %}