{% extends "header.html" %}

{% block body %}

<h1>Terms of Service</h1>
<h3>All that legal stuff</h3>

<div class="container-fluid">
<div class="jumbotron">
  <div class="container">
      <h1 class="display-4"><strong>Terms of Service</strong></h1>
      <h3>Last updated 5/2/2019</h3>
    <p class="lead" style="color: #46484a">Please read these terms of service ("terms", "terms of service") carefully before using Lion's Pride (the "service") operated by the Lion's Pride's Team ("us", 'we", "our").
    </p>
    <h5 style="color: #46484a">
        <strong>Conditions of Use</strong>
        </h5>
        <p class="lead" style="color: #46484a">
    We will provide their services to you, which are subject to the conditions stated below in this document. Every time you visit this website, use its services or make a purchase, you accept the following conditions. This is why we urge you to read them carefully.
            </p>
<h5 style="color: #46484a">
    <strong>Privacy Policy</strong>
    </h5>
<p class="lead" style="color: #46484a">
    Before you continue using our website we advise you to read our privacy policy [link to privacy policy] regarding our user data collection. It will help you better understand our practices.
    </p>
<h5 style="color: #46484a">
    <strong>Copyright</strong>
    </h5>
<p class="lead" style="color: #46484a">
    Content published on this website (digital downloads, images, texts, graphics, logos) is the property of Lion's Pride and/or its content creators and protected by international copyright laws. The entire compilation of the content found on this website is the exclusive property of Lion's Pride, with copyright authorship for this compilation by Lion's Pride.
    </p>
<h5 style="color: #46484a">
    <strong>Communications</strong>
    </h5>
<p class="lead" style="color: #46484a">
    The entire communication with us is electronic. Every time you send us an email or visit our website, you are going to be communicating with us. You hereby consent to receive communications from us. If you subscribe to the news on our website, you are going to receive regular emails from us. We will continue to communicate with you by posting news and notices on our website and by sending you emails. You also agree that all notices, disclosures, agreements and other communications we provide to you electronically meet the legal requirements that such communications be in writing.
    </p>
<h5 style="color: #46484a">
    <strong>Applicable Law</strong>
    </h5>
<p class="lead" style="color: #46484a">
    By visiting this website, you agree that the laws of the [your location], without regard to principles of conflict laws, will govern these terms of service, or any dispute of any sort that might come between Lion's Pride and you, or its business partners and associates.
    </p>
<h5 style="color: #46484a">
    <strong>Disputes</strong>
    </h5>
<p class="lead" style="color: #46484a">
    Any dispute related in any way to your visit to this website or to products you purchase from us shall be arbitrated by state or federal court [your location] and you consent to exclusive jurisdiction and venue of such courts.
<h5 style="color: #46484a">
    <strong>Comments, Reviews, and Emails</strong>
    </h5>
<p class="lead" style="color: #46484a">
    Visitors may post content as long as it is not obscene, illegal, defamatory, threatening, infringing of intellectual property rights, invasive of privacy or injurious in any other way to third parties. Content has to be free of software viruses, political campaign, and commercial solicitation.
    </p>
<p class="lead" style="color: #46484a">
    We reserve all rights (but not the obligation) to remove and/or edit such content. When you post your content, you grant Lion's Pride non-exclusive, royalty-free and irrevocable right to use, reproduce, publish, modify such content throughout the world in any media.
    </p>
<h5 style="color: #46484a">
    <strong>License and Site Access</strong>
    </h5>
<p class="lead" style="color: #46484a">
    We grant you a limited license to access and make personal use of this website as it exists while it is maintained by the Lion's Pride Team
      </p>
<p class="lead" style="color: #46484a">
    
    This website's files can be located at the Lion's Pride repository located on <a href="/">Github.</a> You are free to download these files and use for personal purposes, but we request that the code in this repository is not used to create content that is obscene, illegal, defamatory, threatening, infringing of intellectual property rights, invasive of privacy or injurious in any other way. 
    </p>
<h5 style="color: #46484a">
    <strong>User Account</strong>
    </h5>
<p class="lead" style="color: #46484a">
    If you are an owner of an account on this website, you are solely responsible for maintaining the confidentiality of your private user details (username and password). You are responsible for all activities that occur under your account or password.
    </p>
<p class="lead" style="color: #46484a">
    We reserve all rights to terminate accounts, edit or remove content and cancel orders in their sole discretion.
      </p>
  </div>
</div>
</div>

{% endblock %}